@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

body, div, p, input, button, form, span, a, ul, li, pre, * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body, button {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: bold;
}

a { 
	text-decoration: none;
	color: inherit;
	font-size: 18px;
}

html {
	background: grey;
}

body {
	width: 300px;
	min-height: 100px;
	border:  1px solid black;
	display: block;
	margin: auto;
	padding: 10px;
	background: white;
}

.header {
	text-align: center;
}

.headerA {
	margin: auto;
	cursor: pointer;
	width: fit-content;
	display: block;
}

.headerAImg {
	width: 40px;
}

.headerProps {
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: left;
}

.headerPropsP {
	width: 40%;
}

.headerInfo {
	margin: 10px 0;
}

.headerInfoNum {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 5px;
}

.headerInfoP {
	text-align: left;
}

.mainItem {
	margin-bottom: 10px;
}

.mainItemName {
	font-weight: bold;
}

.footerSum {
	text-align: right;
	font-weight: bold;
	font-size: 17px;
	border-top: 2px dashed black;
	border-bottom: 2px dashed black;
	margin: 10px 0;
	padding: 10px 0;
}

.footerDesk {
	border-top: 1.5px dashed black;
	border-bottom: 1.5px dashed black;
	margin: 10px 0;
	padding: 5px 0;
}

.footerDeskP {
	text-align-last: justify;
	font-weight: bold;
}

.footerTax {
	margin: 10px 0;
}

.footerNum {
	margin: 10px 0;
}

.footerCode {
	margin: 10px 0;
}

.footerCodeImg {
	display: block;
	margin: auto;
	max-width: 75px;
}

.footerFiskal {
	text-align-last: justify;
	font-weight: bold;
	border-top: 1.5px dashed black;
	border-bottom: 1.5px dashed black;
	margin: 10px 0;
	padding: 10px 0;
}

.footerP {
	text-align: right;
	font-weight: bold;
	font-style: italic;
}

.c0 {
	display: none;
}