.formForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 5px;
    border-radius: 5px;
}

.formFormError {
    background: #d32121;
    text-align: center;
    color: white;
    margin-bottom: 2px;
    padding: 2px;
    border-radius: 10px;
}

.formFormStatus {
    background: palegreen;
    text-align: center;
    margin-bottom: 2px;
    padding: 2px;
    border-radius: 10px;
}

.formFormA {
    margin-left: auto;
    cursor: pointer;
}

.formFormP {
    text-align: justify;
}

.formFormBox * {
    display: inline;
}
